.border-color{
    border:1px solid limegreen;
    border-left:10px solid limegreen;
    box-shadow:0 0 10px limegreen
}
.border-uncolor{
    border:1px solid orangered;
    border-left:10px solid orangered;
    box-shadow:0 0 10px orangered
}
.text-valid{
    color: limegreen;
}
.text-invalid{

    color: yellowgreen;
}